[submodule "src/norouter-parent"]
	path = src/norouter-parent
	url = https://github.com/cloudfoundry-community/norouter-parent
[submodule "src/norouter-core"]
	path = src/norouter-core
	url = https://github.com/cloudfoundry-community/norouter-core
[submodule "src/norouter-f5"]
	path = src/norouter-f5
	url = https://github.com/cloudfoundry-community/norouter-f5
